#root {
    display: flex;
}

.text-center {
    text-align: center;
}

body,
html {
    font-size: 14px;
    font-family: sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo-container img {
    width: 100%;
    margin: auto;
}

body>footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.7% 0;
    background-color: black;
    color: blanchedalmond;
    justify-content: center;
    font-size: 18px;
    font-family: monospace;
}

.btn {
    margin-right: 0.5em;
    border-radius: 4px;
    background-color: blueviolet;
    border: blueviolet;
    color: aliceblue;
    font-size: 1.2em;
    padding: 0.2em 1em;
    float: right;
}

.save {
    margin: 0 0 0 0.5em;
    border-radius: 4px;
    background-color: blueviolet;
    border: blueviolet;
    color: aliceblue;
    font-size: 1.2em;
    float: right;
    padding: 0.2em 1em;
}

.cancel {
    border-radius: 4px;
    background-color: blueviolet;
    border: blueviolet;
    color: aliceblue;
    font-size: 1.2em;
    float: right;
    padding: 0.2em 1em;
}

.container {
    margin-bottom: 2em;
}

@media screen and (min-width:2000px) {

    body>footer {
        font-size: 1.6px;
    }

}

@media screen and (max-width:768px) {

    body>footer {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 480px) {


    body>footer {
        font-size: 1.2em;
    }

    .cancel{
        font-size: 1em;
    }

    .save{
        font-size: 1em;
    }
}