.login-container {
    display: flex;
    height: 94vh;
    width: 100%;
    margin: 0;
    background: url('../style/loginfriend.jpg');
    background-size: cover;
    background-position: center;
}

.DEUS {
    background-color: rgb(255, 252, 252);
    margin-left: auto;
    box-shadow: 0px 0px 10px #9830ba, 0px 0px 20px #5e18e0, 0px 0px 30px #786092;
    padding: 20px;
    width: 40vw;
    margin-right: 10%;
    margin-top: 1.5%;
    border-radius: 10px;
    margin-bottom: 1.5%;  
}

.login-container .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

.botao {
    border-radius: 10px;
    color: antiquewhite;
    background-color: black;
    margin: 5px 0;
    font-size: 1.5em;
    padding: 5px;
    
}

.botao[disabled]{
    opacity: 0.8;
    }

.bt-register{
    text-decoration: underline;
    color: #5e18e0;
    cursor: pointer;
    text-align: center;
}

.error{
    display: none;
}

.login-container .music-container {
    width: 100%;
    height: 100%;
}

.login-container .music-container img {
    display: flex;
}

.login-container .form {
    display: flex;
    flex-direction: column;  
}



.login-container .logo-container img.logo {
    width: 100%;
    margin-bottom: 15%;
    margin-top: 5%;
}



.control {
    font-size: 2em;
    padding: 5px;
    margin: 10px 0;
    border-radius: 10px;
    font-family: monospace;

}

.registro {
    justify-content: center;
    align-items: center;
    position: static;
    display: flex;
    font-size: 1.3em;
}


@media screen and (min-width:2000px){
    
    .login-container .form {
        font-size: 2em;
    }
    
    .registro {
        font-size: 2em;
        margin-top: 10%;
    }
}

/* @media screen and (max-width:768px){

} */

@media screen and (max-width: 480px) {

    .login-container {
        flex-direction: column;
    }
    
    .DEUS {
        width: 70vw;
        margin-bottom: 5%;
    }
}
