@media screen and (min-width: 481px) and (max-width:768px){
    

    .botao {
        border-radius: 10px;
        width: 20%;
        color: antiquewhite;
        background-color: black;
    }

}

@media screen and (max-width: 480px) {

    
}

