.home-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 5%;
    margin-right: 13%;
}

.home-container .logo-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 35vw;
}

.botao-home {
    margin: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-color: black;
    font-size: 2em;
    padding: 10px 60px;
}


@media screen and (min-width:2000px){
    .botao-home {
        border-radius: 10px;
        width: 10%;
        font-size: 30px;
        color: antiquewhite;
        background-color: black;
    }
    
}

@media screen and (max-width:768px){
    .botao-home {
        width: 20%;
    }

}

@media screen and (max-width: 480px) {

    .botao-home {
        width: 50%;
    }
    
}
