/* .feed-page-container {
    width: 100%;
    margin: 0;
    background: url('../style/repeat.jpg');
    background-size: 850px 550px;
    padding: 0 9em;
} */


.feed-page-container {
    margin: auto;
    width: 75vw;
    margin-top: 1.5em;
}

.feed-container {
    display: flex;
    border: 1px solid #a3a3a373;
    background-color: #ffffff
}

.feed-posts {
    width: 70%;
    background-color: #ffffff;
    padding: 1em 0 1em 1em;
}

.box-feed {
    resize: none;
    overflow: hidden;
    font-size: 1.5em;
    border: solid 1px #a3a3a373;
    width: 80%;
    height: 4.6em;
}



/* .caixa-botao {
background-color: aqua;
} */

.feedpost ul {
    padding: 0;

}

#inputPost {
    /* text-align: center; */
    margin-top: 3%;
    padding: 0.5em;
}


.feed {
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-left: 2%;
    /* color: #ffffff */

}

.btn {
    display: inline;
    border-radius: 8px;
    background-color: blueviolet;
    border: blueviolet;
    color: aliceblue;
    font-size: 1.2em;
    float: right;
    margin-top: 18%;
    padding: 0.2em 1em;
    /* margin-left: 0.6em ; */
}

.btn-logout {
    display: flex;
    margin-bottom: auto;
    margin-right: 1%;
    margin-top: 1%;
    border-radius: 8px;
    background-color: blueviolet;
    border: blueviolet;
    color: aliceblue;
    font-size: 1.2em;
    float: right;
    padding: 0.2em 1em;
}

/* .likepost{
    display: inline;
    border-radius: 10px;
    background-color: blueviolet;
    border: blueviolet;
    color: aliceblue;
    font-size: 1.2em;
    float: right;
    padding: 0 0.7em;
} */

.post {
    padding-bottom: 1em;
    border-top-style: groove;
    color: grey;
}


#submitPost {
    /* border-radius: 10px;
    background-color: blueviolet; */
    color: aliceblue;
    font-size: 1.0em;
}

.eventos {
    background-color: #e5e5e573;
    margin: 1em;
    width: 40%;
    border-radius: 5px;
    height: 35em;
    text-align: center;
}

.logocolor {
    margin-top: 10%;
    width: 2cm;
}



/* @media screen and (min-width:2000px){
    
}

@media screen and (max-width:768px){

}

@media screen and (max-width: 480px) {

} */